{{>header}}

{{>navigation}}

<style>

</style>

<div class="row">
  <div class="leftcolumn">
    {{#articles}}
    <div class="card">
      <h2>{{title}}</h2>
      <h3><b>{{ hero_name }}</b></h3>
      <img src="{{picPath}}" height="144" width="256">
      <h4>Bio</h4>
      {{{description}}}
    </div>
    {{/articles}}
  </div>

  {{>sidebar}}

</div>

{{>footer}}
