{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Home</h2>
      <p>This is the publicly accessible home page!</p>
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
