<div class="topnav">
  <a href="/home" {{#homenav}}class="curnav"{{/homenav}}>Home</a>
  <a href="/articles" {{#articlesnav}}class="curnav"{{/articlesnav}}>Heroes</a>
  <a href="/members" {{#membersnav}}class="curnav"{{/membersnav}}>Profile</a>
  <a href="/teams" {{#teamnav}}class="curnav"{{/teamnav}}>Team</a>
  <a href="/editors" {{#editorsnav}}class="curnav"{{/editorsnav}}>Admin</a>
  {{#displaylogin}}
    <a href="/login" {{#loginnav}}class="curnav"{{/loginnav}}>Login</a>
  {{/displaylogin}}
  {{#displaylogout}}
    <a href="/login/logout">Logout</a>
  {{/displaylogout}}
</div>
